<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Registro de Clientes</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  </head>

  <body>
    <!-- Navegacion -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">APP Registro de Clientes</a>
    </nav>


    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/update/<%= data.id%>" method="post">
                            <div class="form-group">
                              <input type="text" name="nombre" value="<%=data.nombre %>" placeholder="Nombre" class="form-control" autofocus>
                            </div>
                            <div class="form-group">
                              <input type="text" name="direccion" value="<%=data.direccion %>"placeholder="Dirección" class="form-control">
                            </div>
                            <div class="form-group">
                              <input type="text" name="telefono" value="<%=data.telefono %>"placeholder="Teléfono" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary">
                              Editar
                            </button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>





</body>
</html>